/* src/components/IVT/MeasuredVariables/MeasuredVariables.css */

.measured-variables-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1200px;
  background-color: hsla(60, 2%, 88%, 0.884); /* White background */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 490px;
  margin-top: 30px;
  justify-content: center;
}

.measured-variables h2 {
  
  color: #333333;
  margin-bottom: 0px;
  justify-content: center;
}

.measured-variable-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
}
