/* src/components/IVT/Sidebar/Sidebar.css */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 310px;
  height: 810px;
  background-color: hsla(60, 2%, 88%, 0.884); /* Slightly lighter grey */
  padding: 10px;
  position:absolute;
  left: 130px;
  top:70px;
}

.sidebar h2 {
  text-align: center;
  color: #333333;
  margin-bottom: 10px;
}

.input-variables {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
