/* src/components/OutputVariables/OutputVariables.module.css */
.container {
  width: 200px;
  height: 180px;
  margin-top: 60px;
  margin-left: 25px;
  background-color: #e0e0e0;
  padding: 5px;
  border-radius: 4px;
}

.title {
  text-align: center;
  color: #333333;
}

.variablesBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}